* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.video-list {
  margin: 35px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1%;
}

.video-box {
  display: grid;
  justify-content: center;
  box-shadow: 1px 1px 15px rgba(5, 5, 5, 0.05);
  border: 1px solid rgb(0, 0, 0, 0.05);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  width: fit-content;
}

.video-box:hover {
  box-shadow: 5px 5px 25px rgba(5, 5, 5, 0.25);
  transform: scale(105%);
}

.video-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 3% 0 0 1%;
}

.user-page {
  display: grid;
  align-items: center;
  height: 75vh;
  grid-template-rows: 1fr;
}

.user-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edit-comments {
  display: grid;
  align-items: center;
  height: 150px;
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgba(5, 5, 5, 0.05);
  margin: 5px 10px;
}

.edit-videos {
  display: grid;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 15px rgba(5, 5, 5, 0.05);
  margin: 5px 10px;
}

.login-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-half {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: -20px -0px 50px rgba(5, 5, 5, 0.35);
}

.video-comments {
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
  padding: 5px 5px;
  margin: 5px 20px;
  transition: all 0.5s;
}

.video-comments-container {
  height: 75vh;
}

.upload-container {
  padding: 0;
  height: 75vh;
  display: grid;
  align-items: center;
}

.upload-header {
  margin-bottom: -20%;
}

@media only screen and (max-width: 900px) {
  .user-cont {
    display: grid;
    grid-template-columns: 1fr;
  }
  .login-cont {
    display: grid;
    grid-template-columns: 1fr;
  }

  .video-page {
    display: grid;
    grid-template-columns: 1fr;
  }
  .video-list {
    margin: 35px 50px;
  }
  .user-page {
    margin-top: 50pxg;
  }
}
